body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.film-table td,
.film-table th {
  text-align: center;
  margin: 0;
}
.title,
.item-title {
  min-width: 10rem;
  width: auto;
}
.genres,
.item-genres {
  min-width: 10rem;
  width: auto;
}
.item {
  background-color: bisque;
}
.genre {
  margin: 0.5rem 2rem;
  background-color: red;
}
.hidden {
  display: none;
}
